<div>

</div>

<div class='web-hook-events-listing'>
{{#if model}}
  {{#load-more selector=".web-hook-events li" action="loadMore"}}
    <div class='web-hook-events content-list'>
      <ul>
        {{#each model as |webHookEvent|}}
          {{admin-web-hook-event model=webHookEvent}}
        {{/each}}
      </ul>
    </div>
    {{conditional-loading-spinner condition=model.loadingMore}}
  {{/load-more}}
{{else}}
  <p>{{i18n 'admin.web_hooks.events.none'}}</p>
{{/if}}
</div>
